.deposit-button {
    position: absolute;
    width: 140px;
    height: 44px;
    background: #5ebef3ff;
    border-radius: 12px;
    right: 165px;
    bottom: 13px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.1);
}

.withdraw-button {
    position:absolute;
    width: 140px;
    height: 44px;
    background: #5ebef3ff;
    border-radius: 12px;
    right: 15px;
    bottom: 13px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.1);
}

.ton-balance {
    position: absolute;
    left: 20px;
    bottom: 6px;
    font-size: 40px;
    cursor: default;
}

.balance-card {
    position: absolute;
    display: flex;
    width: 631px;
    height: 200px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: #44b4f0ff;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000ff;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 100;
}